@import url('https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise&family=Archivo+Black');

.contains{
    display: flex;
    flex-direction: column;
    /* background: url(''); */
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    line-height: 2;
    overflow-wrap:normal;
    text-align: center;
    font-family: 'Archivo Black';
    color:#000;
}
  
.borde {
    background: rgba(5, 7, 12, 0.876);
    padding: 10px;
    width: 800px;
    border-radius: 40px;
    font-family: 'Archivo Black';
    opacity: none;
    color: lavender;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
  
.button {
    background-color: transparent;
    border: 2px solid #47444a;
    border-radius: 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: 'Archivo Black';
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    outline: none;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 60px;
    opacity:none;
}
    
.button:disabled {
    pointer-events: none;
}
    
.button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
    
.button:active {
    box-shadow: none;
    transform: translateY(0);
}
  
.img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 15px;
    opacity: 90%;
}
  
.h1{
    font-family: 'Archivo Black';
    font-size: 35px;
}
  
.titles{
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'Archivo Black';
}
  
.steps{
    font-size: 20px;
    margin-bottom: 5px;
    line-height: 2;
    font-family: 'Archivo Black';
    font-weight: 300;
}
  
.summary{
    line-height: 2;
    font-family: 'Archivo Black';
    font-weight: 300;
}
  
.dt{
    text-transform: capitalize;  
    font-family: 'Archivo Black';
}